/* Example desktop:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */

.flexRowContent--flex__section--imperdibles {
  transform      : translate3d(0%, 0px, 0px);
  max-width      : 1200px;
  justify-content: space-between;
  position       : relative;
  display        : flex;
  margin         : 0 auto;
  padding        : 0;
}

.flexRow--flex__section--imperdibles :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 46% !important;
}

.flexColChild--section__imperdibles--one :global(.vtex-store-link-0-x-link--imperdibles__link) {
  margin: 23px auto;
}

/* Home section shelf  */
.flexRowContent--home__section--shelf {
  border-top: 1px solid #e3e4e6;
  margin    : 45px 0 0;
  padding   : 45px 0;
}

.flexRowContent--home__section--shelf-two {
  border-top: 1px solid #e3e4e6;
  margin    : 45px 0 0;
  padding   : 45px 0;
}

.flexRowContent--home__section--shelf-three {
  border-top: 1px solid #e3e4e6;
  margin    : 45px 0 0;
  padding   : 45px 0;
}

.flexRowContent--home__section--shelf-four {
  border-top: 1px solid #e3e4e6;
  margin    : 45px 0 0;
  padding   : 45px 0;
}

.flexRowContent--home__section--shelf-five {
  background: #f1f5f9;
  padding   : 70px 0 50px;
  border-top: #e3e4e6;
}

.flexRowContent--section__favorites--title {
  margin-top: 2rem;
  padding   : 0;
}

.flexRow--home__form--register {
  background: #f1f5f9;
  max-width: 1190px;
  height: 127px;
  margin: 0 auto;
  border-top: #e3e4e6;
}

.flexCol--benefits__item--one,
.flexCol--benefits__item--two,
.flexCol--benefits__item--three,
.flexCol--benefits__item--four,
.flexCol--benefits__item--five,
.flexCol--benefits__item--six {
  margin-right: 18px !important;
}

.flexRow--home__section--benefits {
  max-width: 1200px;
  margin   : 0 auto;
}

.flexRowContent--home__section--benefits {
  width : 80%;
  margin: 80px auto;
}

.stretchChildrenWidth :global(.vtex-store-newsletter-1-x-newsletterForm--desktop__newsletter--form) {
  padding        : 1.6em 0 2.6em !important;
  justify-content: center;
  display        : flex;
  align-items    : center;
  max-width      : 614px;
  position       : relative;
}

.stretchChildrenWidth :global(.vtex-input__label) {
  font-size    : 14px;
  margin-bottom: 8px;
  font-family  : SST W01 Bold !important;
  font-weight  : 700;
}

.stretchChildrenWidth :global(.vtex-input-prefix__group) {
  border-radius: 0;
  height       : 36px;
  border       : 1px solid #e4e7eb;
  font-size    : 13px;
}

.stretchChildrenWidth :global(.vtex-button) {
  background    : #f25529;
  border        : none;
  border-radius : 0;
  font-size     : 13px;
  text-transform: capitalize;
  transition    : all .25s;
  min-height    : 36px;
}

.stretchChildrenWidth :global(.vtex-store-newsletter-1-x-emailInputContainer) {
  padding-left: 5px;
  width       : 268px;
  display     : block;
}

.stretchChildrenWidth :global(.vtex-store-newsletter-1-x-newsletterForm--desktop__newsletter--form):last-child {
  align-items: flex-end;
}

.flexRow--home__form--register :global(.vtex-checkbox__line-container) {
  width   : 100%;
  margin  : 6px -470px;
  position: absolute;
  bottom  : 0;
}
.flexRow--home__form--register :global(.vtex-checkbox__label) {
  font-size: 15px;
  padding-bottom: 0.6rem;
  color: #63666a;
  margin-left: 10px
}


@media (max-width: 1025px) {
  .flexRow--home__form--register :global(.vtex-store-newsletter-1-x-emailInputContainer--form__input--email) {
    width  : 34%;
    display: block;
  }

  .flexRow--home__form--register :global(.vtex-store-newsletter-1-x-nameInputContainer--form__input--name) {
    width       : 18%;
    display     : inline-block;
    margin-right: 0.2em;
  }
  .flexRow--home__form--register :global(.vtex-checkbox__line-container) {
    width   : 100%;
    margin  : 6px -323px;
    position: absolute;
    bottom  : 0;
  }
}
