.container {
  padding-left : 2.5rem;
  padding-right: 2.5rem;
}

@media (min-width: 650px) {
  .container {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
  }
}
@media (min-width: 1025px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
