/* Example Phone:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */
.flexCol--section__phone--cinema {
  width: 140px;
}

.stretchChildrenWidth {
  align-items: center;
}

.flexCol--section__phone--cinema,
.flexCol--phone__phone--cams,
.flexCol--phone__phone--sound,
.flexCol--phone__phone--playstation {
  align-items: center;
  margin-top : 5px;
}

.flexRow--phone__form--register {
  justify-content: center;
  display        : flex;
  height         : 320px;
}

.flexRow--phone__form--register :global(.vtex-store-components-3-x-container) {
  display        : flex;
  flex-direction : column;
  height         : 100%;
  justify-content: center;
  background     : #f1f5f9;
  width          : 82%;
}

.flexRowContent--phone__form--register :global(.vtex-store-newsletter-1-x-newsletterForm--phone__newsletter--form):last-child {
  align-items    : flex-end;
  width          : 70%;
  padding        : 1.6em 0 2.6em !important;
  justify-content: center;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  max-width      : 614px;
  position       : relative;
}
.flexRowContent--phone__form--register :global(.vtex-store-newsletter-1-x-nameInputContainer--phone__input--name) {
  width: 100%;
  margin-bottom: 10px;
}
.flexRowContent--phone__form--register :global(.vtex-store-newsletter-1-x-emailInputContainer--phone__input--email) {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
.flexRowContent--phone__form--register :global(.vtex-store-newsletter-1-x-formSubmitContainer--phone__button--submit),
.flexRowContent--phone__form--register :global(.vtex-button) {
  width: 100%;
}
.flexRowContent--phone__form--register :global(.vtex-checkbox__label) {
  font-size: 15px;
  padding-bottom: 0.6rem;
  color: #63666a;
  margin-left: 10px;
}

