.imageElement--mobile__image--promotional {
  margin    : 25px auto;
  display   : block;
  max-height: 400px;
  width     : 60.3333%;
}
.imageElement--image__phone--sony {
  width: 135px;
  height: 135px;
}
