.label--section__one--link,
.label--section__two--link {
  color          : #4572ed;
  text-decoration: none;
  margin         : 23px auto;
  display        : block;
  text-align     : center;
}
.link--section__two--link,
.link--section__one--link {
  text-decoration: none;
}
