.imageElement--header__image--phone {
  object-fit  : cover;
  height      : 50px;
  width       : 50px;
  margin      : auto auto;
  margin-left : 10px;
  margin-right: 0;
}

/* .logoImage {
  width       : 103px;
  height      : 18px;
  margin-right: 66px;
} */
