/* Example desktop:
.styledLinkContainer {
    margin: 0 12px;
} */
.menuContainerNav--header__menu {
  width: 100%;
}

.menuContainerNav {
  display        : flex;
  justify-content: center;
  width          : 100%;
}

.menuContainer--header__menu {
  width          : 100%;
  display        : flex;
  justify-content: center;
  margin         : 0;
  height         : 100%;
}

.submenuContainer {
  position  : absolute;
  left      : 0;
  transition: top 0.25s ease-in 0s;
  width     : 100%;
}

.menuContainer {
  display        : flex;
  width          : 100%;
  justify-content: center;
  gap            : 8px;
}

.submenuWrapper {
  padding   : 16px 0px;
  transition: top 0.25s ease-in 0s;
  width     : 100%;
  text-align: center;
  background: rgb(241, 245, 249);
}

.menuItem--category__tvs,
.menuItem--category__teatro,
.menuItem--category__reproductors,
.menuItem--category__cams-lens,
.menuItem--category__cyber-shot,
.menuItem--category__lens,
.menuItem--category__accesories,
.menuItem--category__cinema,
.menuItem--category__handycam,
.menuItem--category__videocams-accesories,
.menuItem--category__videocams-cinema,
.menuItem--category__system-audio,
.menuItem--category__wireless-speakers,
.menuItem--category__earphones,
.menuItem--category__walkman,
.menuItem--category__playstation5,
.menuItem--category__consoles,
.menuItem--category__games,
.menuItem--category__playstation-accesories,
.menuItem--category__reproductors-car,
.menuItem--category__speakers-and-amplifiers {
  /* display        : inline-block;
  cursor         : pointer;
  width          : 142px;
  height         : 142px;
  margin         : 0px 8px;
  padding        : 12px 10px;
  vertical-align : top;
  box-sizing     : border-box;
  text-decoration: none; */
  width: 142px;
}

.menuItem--category__tvs:hover,
.menuItem--category__teatro:hover,
.menuItem--category__reproductors:hover,
.menuItem--category__cams-lens:hover,
.menuItem--category__cyber-shot:hover,
.menuItem--category__lens:hover,
.menuItem--category__accesories:hover,
.menuItem--category__cinema:hover,
.menuItem--category__handycam:hover,
.menuItem--category__videocams-accesories:hover,
.menuItem--category__videocams-cinema:hover,
.menuItem--category__system-audio:hover,
.menuItem--category__wireless-speakers:hover,
.menuItem--category__earphones:hover,
.menuItem--category__walkman:hover,
.menuItem--category__playstation5:hover,
.menuItem--category__consoles:hover,
.menuItem--category__games:hover,
.menuItem--category__playstation-accesories:hover,
.menuItem--category__reproductors-car:hover,
.menuItem--category__speakers-and-amplifiers:hover {
  background: rgb(255, 255, 255);
}

/* .styledLinkContent--menu__item--tv-teatros {
  position   : relative;
  color      : #606060;
  line-height: 1.2;
  font-family: SST W01 Roman;
} */

.styledLinkContainer--menu__item--tv-teatros::before {
  content            : "";
  background-image   : url("assets/img/menu/bx-tv.svg");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}

.styledLinkContainer--item__cams::before {
  content            : "";
  background-image   : url("assets/img/menu/bx-camera.svg");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}

.styledLinkContainer--item__videocams::before {
  content            : "";
  background-image   : url("assets/img/menu/bx-camera-movie.svg");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}

.styledLinkContainer--item__audio::before {
  content            : "";
  background-image   : url("assets/img/menu/bx-headphone.svg");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}

.styledLinkContainer--item__playstation::before {
  content            : "";
  background-image   : url("assets/img/menu/ps5.png");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}

.styledLinkContainer--item__audio-for-auto::before {
  content            : "";
  background-image   : url("assets/img/menu/bx-radio.svg");
  background-size    : contain;
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 45px;
  height             : 45px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
  margin-top         : -15px;
  margin-bottom      : 5px;
}


.styledLinkContainer--menu__item--tv-teatros,
.styledLinkContainer--item__cams,
.styledLinkContainer--item__videocams,
.styledLinkContainer--item__audio,
.styledLinkContainer--item__playstation,
.styledLinkContainer--item__audio-for-auto {
  display: flex;
  margin : 0;
}

.styledLinkContainer--category__teatro,
.styledLinkContainer--category__tvs,
.styledLinkContainer--category__reproductors {
  display: flex;
  margin : 0;
}

.styledLinkContent--category__reproductors {
  white-space       : normal;
  display           : -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow          : hidden;
}

.styledLinkContainer--menu__item--tv-teatros::after,
.styledLinkContainer--item__cams::after,
.styledLinkContainer--item__videocams::after,
.styledLinkContainer--item__audio::after,
.styledLinkContainer--item__playstation::after,
.styledLinkContainer--item__audio-for-auto::after {
  display   : block;
  content   : "";
  margin    : auto;
  width     : 100%;
  height    : 0px;
  transition: height 0.3s;
  background: rgb(69, 114, 237);
  transform : rotate(180deg);
}


.styledLinkContainer--menu__item--tv-teatros:hover::after,
.styledLinkContainer--item__cams:hover::after,
.styledLinkContainer--item__videocams:hover::after,
.styledLinkContainer--item__audio:hover::after,
.styledLinkContainer--item__playstation:hover::after,
.styledLinkContainer--item__audio-for-auto:hover::after {
  height: 5px;
}

.styledLinkContent {
  position   : relative;
  color      : #606060;
  line-height: 1.2;
  font-family: SST W01 Roman;
}

.styledLinkContent--category__tvs,
.styledLinkContent--category__teatro,
.styledLinkContent--category__reproductors,
.styledLinkContent--category__cams-lens,
.styledLinkContent--category__cyber-shot,
.styledLinkContent--category__lens,
.styledLinkContent--category__accesories,
.styledLinkContent--category__cinema,
.styledLinkContent--category__handycam,
.styledLinkContent--category__videocams-accesories,
.styledLinkContent--category__videocams-cinema,
.styledLinkContent--category__system-audio,
.styledLinkContent--category__wireless-speakers,
.styledLinkContent--category__earphones,
.styledLinkContent--category__walkman,
.styledLinkContent--category__playstation5,
.styledLinkContent--category__consoles,
.styledLinkContent--category__games,
.styledLinkContent--category__playstation-accesories,
.styledLinkContent--category__reproductors-car,
.styledLinkContent--category__speakers-and-amplifiers {
  /* font-size      : 12px;
  color          : rgb(96, 96, 96);
  line-height    : 15px;
  height         : 30px;
  justify-content: center;
  display        : inline-block;
  right          : 28px; */
  width         : 142px;
  height        : 142px;
  display       : flex;
  flex-direction: column;
}

/*  */
.styledLink--category {
  display: flex;
  width  : 100%;
}

/*  */

.styledLinkContent--category__cams-lens {
  display : inline-block;
  position: relative;
  right   : 45px;
}

.styledLinkContent--category__tvs::before {
  content            : "";
  background-image   : url("assets/img/menu/televisores.png");
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__teatro::before {
  content            : "";
  background-image   : url("assets/img/menu/teatro-en-casa.png");
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__reproductors::before {
  content            : "";
  background-image   : url("assets/img/menu/reproductores-Blu-ray.png");
  background-repeat  : no-repeat;
  color              : transparent;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

/* .styledLinkContent--category__reproductors {
  border   : 1px solid red;
  width    : 100%;
  word-wrap: break-word !important;
} */

.styledLinkContent--category__cams-lens::before {
  content            : "";
  background-image   : url("assets/img/menu/photo-camaras-lentes-intercambiables.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__cyber-shot::before {
  content            : "";
  background-image   : url("assets/img/menu/photo-cybershot.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__lens::before {
  content            : "";
  background-image   : url("assets/img/menu/photo-lentes.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__accesories::before {
  content            : "";
  background-image   : url("assets/img/menu/photo-accesorios.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__cinema::before {
  content            : "";
  background-image   : url("assets/img/menu/camaras-cine.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__handycam::before {
  content            : "";
  background-image   : url("assets/img/menu/video-handycam.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__videocams-accesories::before {
  content            : "";
  background-image   : url("assets/img/menu/video-accesorios.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__videocams-cinema::before {
  content            : "";
  background-image   : url("assets/img/menu/video-camaras-cine.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__system-audio::before {
  content            : "";
  background-image   : url("assets/img/menu/sistemas-de-audio.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__wireless-speakers::before {
  content            : "";
  background-image   : url("assets/img/menu/ICON-MENU-SRS-XG300.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__earphones::before {
  content            : "";
  background-image   : url("assets/img/menu/audifonos-categoria.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__walkman::before {
  content            : "";
  background-image   : url("assets/img/menu/reproductores-musica-digital-walkman.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__playstation5::before {
  content            : "";
  background-image   : url("assets/img/menu/menu-ps5-v1.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__consoles::before {
  content            : "";
  background-image   : url("assets/img/menu/playstation-consolas.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__games::before {
  content            : "";
  background-image   : url("assets/img/menu/playstation-juegos.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__playstation-accesories::before {
  content            : "";
  background-image   : url("assets/img/menu/playstation-accesorios.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__reproductors-car::before {
  content            : "";
  background-image   : url("assets/img/menu/reproductores-automovil.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.styledLinkContent--category__speakers-and-amplifiers::before {
  content            : "";
  background-image   : url("assets/img/menu/audio-auto-bocinas-amplificadores.png");
  background-repeat  : no-repeat;
  display            : block;
  width              : 130px;
  height             : 80px;
  margin             : 0 auto;
  background-position: center;
  position           : relative;
  right              : 0px;
}

.menuContainerNav,
.menuContainer {
  display        : flex;
  width          : 100%;
  justify-content: center;
}

.menuContainer {
  gap: 8px;
}

.menuItem {
  width: 142px;
}
