.flexCol--section__favorites--cinema,
.flexCol--section__favorites--cams {
  align-items: center;
}
.flexCol--section__favorites--sound,
.flexCol--section__favorites--playstation {
  align-items: center;
  margin-top: 5px;
}

