.flexColChild--mobile__minicart :global(.vtex-button) {
  background: none;
}

.sterchChildrenWidth :global(.vtex-button) {
  background: none;
}

.flexColChild--col__mobile--search :global(.vtex-overlay-layout-0-x-dropdown) {
  position : absolute;
  inset    : 0px auto auto 0px;
  margin   : 0px;
  transform: translate3d(0px, 43.5px, 0px);
  width    : 100%;
}

.flexColChild--col__mobile--search :global(.vtex-overlay-layout-0-x-container) {
  width: 100%;
}
.flexColChild--col__mobile--search :global(.vtex-store-components-3-x-searchBarContainer) {
  margin: 0 auto;
}

.flexColChild--col__mobile--search :global(.vtex-search-2-x-biggy-autocomplete) {
  margin-top: 0px;
}
.flexColChild--col__mobile--search :global(.vtex-input-prefix__group) {
  border-radius: 0;
  border-color: transparent;
}
.flexColChild--col__mobile--search :global(.vtex-overlay-layout-0-x-container) {
  width: 100% !important;
}
